In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("SummaryofWeather.csv", low_memory=False)

In [3]:
df.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
119035,82506,1945-12-27,0,NaN,28.333333,18.333333,23.333333,0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119036,82506,1945-12-28,9.906,NaN,29.444444,18.333333,23.888889,0,1,45,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
119037,82506,1945-12-29,0,NaN,28.333333,18.333333,23.333333,0,1,45,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
119038,82506,1945-12-30,0,NaN,28.333333,18.333333,23.333333,0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119039,82506,1945-12-31,0,NaN,29.444444,17.222222,23.333333,0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STA          119040 non-null  int64
 1   Date         119040 non-null  object
 2   Precip       119040 non-null  object
 3   WindGustSpd  532 non-null     float64
 4   MaxTemp      119040 non-null  float64
 5   MinTemp      119040 non-null  float64
 6   MeanTemp     119040 non-null  float64
 7   Snowfall     117877 non-null  object
 8   PoorWeather  34237 non-null   object
 9   YR           119040 non-null  int64
 10  MO           119040 non-null  int64
 11  DA           119040 non-null  int64
 12  PRCP         117108 non-null  object
 13  DR           533 non-null     float64
 14  SPD          532 non-null     float64
 15  MAX          118566 non-null  float64
 16  MIN          118572 non-null  float64
 17  MEA          118542 non-null  float64
 18  SNF          117877 non-null  object
 19  SND          5563 non-null    float64
 20  FT           0 non-null       float64
 21  FB           0 non-null       float64
 22  FTI          0 non-null       float64
 23  ITH          0 non-null       float64
 24  PGT          525 non-null     float64
 25  TSHDSBRSGF   34237 non-null   object
 26  SD3          0 non-null       float64
 27  RHX          0 non-null       float64
 28  RHN          0 non-null       float64
 29  RVG          0 non-null       float64
 30  WTE          0 non-null       float64
dtypes: float64(20), int64(4), object(7)
memory usage: 28.2+ MB

In [7]:
df.isnull().sum()

STA                 0
Date                0
Precip              0
WindGustSpd    118508
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1163
PoorWeather     84803
YR                  0
MO                  0
DA                  0
PRCP             1932
DR             118507
SPD            118508
MAX               474
MIN               468
MEA               498
SNF              1163
SND            113477
FT             119040
FB             119040
FTI            119040
ITH            119040
PGT            118515
TSHDSBRSGF      84803
SD3            119040
RHX            119040
RHN            119040
RVG            119040
WTE            119040
dtype: int64

In [8]:
df.shape

(119040, 31)

In [9]:
# We create function for delet a null columns

def drop_null_columns(df,threshold=0.70):  
    for column in df.columns:
        if df[column].isnull().sum() > (len(df) * threshold):
            df.drop(column,axis=1,inplace=True)

In [10]:
drop_null_columns(df,threshold=0.7)

In [11]:
df.head()

,STA,Date,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF
0,10001,1942-7-1,1.016,25.555556,22.222222,23.888889,0,42,7,1,0.04,78.0,72.0,75.0,0
1,10001,1942-7-2,0,28.888889,21.666667,25.555556,0,42,7,2,0,84.0,71.0,78.0,0
2,10001,1942-7-3,2.54,26.111111,22.222222,24.444444,0,42,7,3,0.1,79.0,72.0,76.0,0
3,10001,1942-7-4,2.54,26.666667,22.222222,24.444444,0,42,7,4,0.1,80.0,72.0,76.0,0
4,10001,1942-7-5,0,26.666667,21.666667,24.444444,0,42,7,5,0,80.0,71.0,76.0,0

In [12]:
#16 columns deleted

df.shape

(119040, 15)

In [13]:
df.isnull().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall    1163
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
dtype: int64

In [14]:
df["Date"]

0           1942-7-1
1           1942-7-2
2           1942-7-3
3           1942-7-4
4           1942-7-5
             ...
119035    1945-12-27
119036    1945-12-28
119037    1945-12-29
119038    1945-12-30
119039    1945-12-31
Name: Date, Length: 119040, dtype: object

In [15]:
df["Date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 119040 entries, 0 to 119039
Series name: Date
Non-Null Count   Dtype
--------------   -----
119040 non-null  object
dtypes: object(1)
memory usage: 930.1+ KB

In [16]:
df["Date"] = pd.to_datetime(df["Date"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       119040 non-null  int64
 1   Date      119040 non-null  datetime64[ns]
 2   Precip    119040 non-null  object
 3   MaxTemp   119040 non-null  float64
 4   MinTemp   119040 non-null  float64
 5   MeanTemp  119040 non-null  float64
 6   Snowfall  117877 non-null  object
 7   YR        119040 non-null  int64
 8   MO        119040 non-null  int64
 9   DA        119040 non-null  int64
 10  PRCP      117108 non-null  object
 11  MAX       118566 non-null  float64
 12  MIN       118572 non-null  float64
 13  MEA       118542 non-null  float64
 14  SNF       117877 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(4), object(4)
memory usage: 13.6+ MB

In [18]:
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

In [19]:
#We split the date column but we need to define a seasons

df.head()

,STA,Date,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year
0,10001,1942-07-01,1.016,25.555556,22.222222,23.888889,0,42,7,1,0.04,78.0,72.0,75.0,0,1,7,1942
1,10001,1942-07-02,0,28.888889,21.666667,25.555556,0,42,7,2,0,84.0,71.0,78.0,0,2,7,1942
2,10001,1942-07-03,2.54,26.111111,22.222222,24.444444,0,42,7,3,0.1,79.0,72.0,76.0,0,3,7,1942
3,10001,1942-07-04,2.54,26.666667,22.222222,24.444444,0,42,7,4,0.1,80.0,72.0,76.0,0,4,7,1942
4,10001,1942-07-05,0,26.666667,21.666667,24.444444,0,42,7,5,0,80.0,71.0,76.0,0,5,7,1942

In [20]:
def get_season(month):
    if month in [12,1,2]: return "Winter"
    elif month in [3,4,5]: return "Spring"
    elif month in [6,7,8]: return "Summer"
    elif month in [9,10,11]: return "Autumn"
    else : return "Unknow"
    
df["season"] = df["Month"].apply(get_season)

In [21]:
df.head()

,STA,Date,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
0,10001,1942-07-01,1.016,25.555556,22.222222,23.888889,0,42,7,1,0.04,78.0,72.0,75.0,0,1,7,1942,Summer
1,10001,1942-07-02,0,28.888889,21.666667,25.555556,0,42,7,2,0,84.0,71.0,78.0,0,2,7,1942,Summer
2,10001,1942-07-03,2.54,26.111111,22.222222,24.444444,0,42,7,3,0.1,79.0,72.0,76.0,0,3,7,1942,Summer
3,10001,1942-07-04,2.54,26.666667,22.222222,24.444444,0,42,7,4,0.1,80.0,72.0,76.0,0,4,7,1942,Summer
4,10001,1942-07-05,0,26.666667,21.666667,24.444444,0,42,7,5,0,80.0,71.0,76.0,0,5,7,1942,Summer

In [22]:
df.season.unique()

array(['Summer', 'Autumn', 'Winter', 'Spring'], dtype=object)

In [23]:
df.drop("Date",axis=1,inplace=True)

In [24]:
df

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
0,10001,1.016,25.555556,22.222222,23.888889,0,42,7,1,0.04,78.0,72.0,75.0,0,1,7,1942,Summer
1,10001,0,28.888889,21.666667,25.555556,0,42,7,2,0,84.0,71.0,78.0,0,2,7,1942,Summer
2,10001,2.54,26.111111,22.222222,24.444444,0,42,7,3,0.1,79.0,72.0,76.0,0,3,7,1942,Summer
3,10001,2.54,26.666667,22.222222,24.444444,0,42,7,4,0.1,80.0,72.0,76.0,0,4,7,1942,Summer
4,10001,0,26.666667,21.666667,24.444444,0,42,7,5,0,80.0,71.0,76.0,0,5,7,1942,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,82506,0,28.333333,18.333333,23.333333,0,45,12,27,0,83.0,65.0,74.0,0,27,12,1945,Winter
119036,82506,9.906,29.444444,18.333333,23.888889,0,45,12,28,0.39,85.0,65.0,75.0,0,28,12,1945,Winter
119037,82506,0,28.333333,18.333333,23.333333,0,45,12,29,0,83.0,65.0,74.0,0,29,12,1945,Winter
119038,82506,0,28.333333,18.333333,23.333333,0,45,12,30,0,83.0,65.0,74.0,0,30,12,1945,Winter
119039,82506,0,29.444444,17.222222,23.333333,0,45,12,31,0,85.0,63.0,74.0,0,31,12,1945,Winter

In [25]:
# We completed the change date object , now we should focus null rows

In [26]:
df["Snowfall"].unique()

array(['0', nan, '22.86', '33.02', '30.48', '2.54', '5.08', '10.16',
       '7.62', '20.32', '15.24', '17.78', '12.7', '25.4', '27.94',
       '43.18', '38.1', '45.72', '53.34', '58.42', '66.04', '76.2',
       '81.28', '73.66', '63.5', '50.8', '48.26', '60.96', '55.88',
       '35.56', '78.74', '40.64', '86.36', '83.82', '68.58', '#VALUE!'],
      dtype=object)

In [27]:
df["Snowfall"] = pd.to_numeric(df["Snowfall"],errors="coerce")

In [28]:
df["Snowfall"].unique()

array([ 0.  ,   nan, 22.86, 33.02, 30.48,  2.54,  5.08, 10.16,  7.62,
       20.32, 15.24, 17.78, 12.7 , 25.4 , 27.94, 43.18, 38.1 , 45.72,
       53.34, 58.42, 66.04, 76.2 , 81.28, 73.66, 63.5 , 50.8 , 48.26,
       60.96, 55.88, 35.56, 78.74, 40.64, 86.36, 83.82, 68.58])

In [29]:
df["Snowfall"]= df["Snowfall"].replace("",np.nan)

In [30]:
df[df["Snowfall"]!=0]

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
2722,10101,45.212,30.000000,21.666667,26.111111,NaN,45,4,2,1.78,86.0,71.0,79.0,NaN,2,4,1945,Spring
2746,10101,3.556,31.111111,24.444444,27.777778,NaN,45,4,26,0.14,88.0,76.0,82.0,NaN,26,4,1945,Spring
13529,10803,0,30.555556,22.777778,26.666667,NaN,40,12,26,NaN,87.0,73.0,80.0,NaN,26,12,1940,Winter
17907,10807,108.204,30.555556,18.888889,24.444444,NaN,45,11,19,4.26,87.0,66.0,76.0,NaN,19,11,1945,Autumn
30501,11901,T,-17.777778,-17.777778,-17.777778,NaN,42,10,3,T,NaN,NaN,NaN,NaN,3,10,1942,Autumn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97434,44401,0.254,0.555556,-6.666667,-3.333333,7.62,45,11,28,0.01,33.0,20.0,26.0,0.3,28,11,1945,Autumn
97525,50301,0,29.444444,23.333333,26.666667,NaN,43,10,31,NaN,85.0,74.0,80.0,NaN,31,10,1943,Autumn
97590,50301,0,30.000000,23.888889,26.666667,NaN,44,1,4,NaN,86.0,75.0,80.0,NaN,4,1,1944,Winter
115327,82403,0,22.777778,8.888889,15.555556,2.54,44,7,16,0,73.0,48.0,60.0,0.1,16,7,1944,Summer
118663,82506,0,27.777778,19.444444,23.333333,NaN,44,11,18,NaN,82.0,67.0,74.0,NaN,18,11,1944,Autumn

In [31]:
# We have to fill in the snowfall rows.For that we gonna use monthly snowfall mean

In [32]:
df["Snowfall"].value_counts(dropna=False)

Snowfall
0.00     115690
NaN        1207
5.08        534
2.54        339
7.62        330
10.16       205
12.70        92
20.32        83
17.78        78
15.24        74
22.86        69
25.40        68
27.94        40
30.48        31
45.72        25
50.80        24
48.26        22
35.56        20
33.02        15
60.96        13
66.04        11
38.10        11
43.18        10
53.34        10
63.50         7
40.64         6
55.88         6
76.20         5
58.42         5
81.28         4
78.74         2
73.66         1
86.36         1
83.82         1
68.58         1
Name: count, dtype: int64

In [33]:
df["Snowfall"].isnull().sum()

np.int64(1207)

In [34]:
int(df["Snowfall"].isna().sum())

1207

In [35]:
df[df["Snowfall"].isna()]

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
2722,10101,45.212,30.000000,21.666667,26.111111,NaN,45,4,2,1.78,86.0,71.0,79.0,NaN,2,4,1945,Spring
2746,10101,3.556,31.111111,24.444444,27.777778,NaN,45,4,26,0.14,88.0,76.0,82.0,NaN,26,4,1945,Spring
13529,10803,0,30.555556,22.777778,26.666667,NaN,40,12,26,NaN,87.0,73.0,80.0,NaN,26,12,1940,Winter
17907,10807,108.204,30.555556,18.888889,24.444444,NaN,45,11,19,4.26,87.0,66.0,76.0,NaN,19,11,1945,Autumn
30501,11901,T,-17.777778,-17.777778,-17.777778,NaN,42,10,3,T,NaN,NaN,NaN,NaN,3,10,1942,Autumn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97418,44401,14.224,2.777778,-1.111111,1.111111,NaN,45,11,12,0.56,37.0,30.0,34.0,NaN,12,11,1945,Autumn
97420,44401,T,12.777778,2.222222,7.777778,NaN,45,11,14,T,55.0,36.0,46.0,NaN,14,11,1945,Autumn
97525,50301,0,29.444444,23.333333,26.666667,NaN,43,10,31,NaN,85.0,74.0,80.0,NaN,31,10,1943,Autumn
97590,50301,0,30.000000,23.888889,26.666667,NaN,44,1,4,NaN,86.0,75.0,80.0,NaN,4,1,1944,Winter
118663,82506,0,27.777778,19.444444,23.333333,NaN,44,11,18,NaN,82.0,67.0,74.0,NaN,18,11,1944,Autumn

In [36]:
df["Snowfall"].mean()

np.float64(0.24554360832703917)

In [37]:
monthly_avgSnowfall = df.groupby("Month")["Snowfall"].mean()

In [38]:
monthly_avgSnowfall

Month
1     0.533126
2     0.615308
3     0.591887
4     0.394386
5     0.196230
6     0.008338
7     0.000248
8     0.000000
9     0.005026
10    0.101053
11    0.219209
12    0.420541
Name: Snowfall, dtype: float64

In [39]:
df["Snowfall"] = df.groupby("Month")["Snowfall"].transform(lambda x: x.fillna(x.mean()))

In [40]:
df["Snowfall"].mean()

np.float64(0.24657089387754583)

In [41]:
int(df["Snowfall"].isna().sum())

0

In [42]:
df["Snowfall"].value_counts(dropna=False)

Snowfall
0.000000     115691
5.080000        534
2.540000        339
7.620000        330
10.160000       205
0.219209        165
0.394386        162
0.196230        157
0.533126        144
0.615308        133
0.420541        129
0.591887        109
0.101053         95
12.700000        92
0.008338         89
20.320000        83
17.780000        78
15.240000        74
22.860000        69
25.400000        68
27.940000        40
30.480000        31
45.720000        25
50.800000        24
48.260000        22
35.560000        20
33.020000        15
0.005026         15
60.960000        13
66.040000        11
38.100000        11
43.180000        10
53.340000        10
0.000248          8
63.500000         7
40.640000         6
55.880000         6
76.200000         5
58.420000         5
81.280000         4
78.740000         2
73.660000         1
86.360000         1
83.820000         1
68.580000         1
Name: count, dtype: int64

In [43]:
df.isna().sum()

STA            0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
Day            0
Month          0
Year           0
season         0
dtype: int64

In [44]:
# Now it's column PRCP's  turn

In [45]:
df.head()

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
0,10001,1.016,25.555556,22.222222,23.888889,0.0,42,7,1,0.04,78.0,72.0,75.0,0,1,7,1942,Summer
1,10001,0,28.888889,21.666667,25.555556,0.0,42,7,2,0,84.0,71.0,78.0,0,2,7,1942,Summer
2,10001,2.54,26.111111,22.222222,24.444444,0.0,42,7,3,0.1,79.0,72.0,76.0,0,3,7,1942,Summer
3,10001,2.54,26.666667,22.222222,24.444444,0.0,42,7,4,0.1,80.0,72.0,76.0,0,4,7,1942,Summer
4,10001,0,26.666667,21.666667,24.444444,0.0,42,7,5,0,80.0,71.0,76.0,0,5,7,1942,Summer

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       119040 non-null  int64
 1   Precip    119040 non-null  object
 2   MaxTemp   119040 non-null  float64
 3   MinTemp   119040 non-null  float64
 4   MeanTemp  119040 non-null  float64
 5   Snowfall  119040 non-null  float64
 6   YR        119040 non-null  int64
 7   MO        119040 non-null  int64
 8   DA        119040 non-null  int64
 9   PRCP      117108 non-null  object
 10  MAX       118566 non-null  float64
 11  MIN       118572 non-null  float64
 12  MEA       118542 non-null  float64
 13  SNF       117877 non-null  object
 14  Day       119040 non-null  int32
 15  Month     119040 non-null  int32
 16  Year      119040 non-null  int32
 17  season    119040 non-null  object
dtypes: float64(7), int32(3), int64(4), object(4)
memory usage: 15.0+ MB

In [47]:
df["PRCP"].unique()

array(['0.04', '0', '0.1', 'T', '0.14', '0.02', '0.01', '0.07', '0.13',
       '0.03', '0.22', '0.2', '0.08', '1.01', '1.58', '0.75', '0.94',
       '0.16', '0.48', '0.11', '1.31', '0.76', '1.88', '0.25', '0.12',
       '0.33', '0.4', '1.07', '1.2', '1.78', '0.42', '0.61', '2.27',
       '2.29', '0.45', '1.23', '0.7', '1.06', '1.05', '0.26', '0.21',
       '0.19', '0.3', '0.34', '0.31', '0.49', '3.58', '0.53', '0.47',
       '0.23', '0.17', '0.24', '0.36', '0.18', '0.39', '0.38', '0.06',
       '0.55', '0.68', '1.32', '0.05', '0.54', '0.32', '0.88', '1.54',
       '1.42', '3.86', '0.15', '0.59', '3.08', '5.76', '0.58', '0.86',
       '4.76', '1.66', '0.92', '0.83', '1.77', '0.09', nan, '1.97',
       '0.69', '2.01', '0.28', '1', '0.29', '0.64', '1.84', '0.35',
       '0.97', '0.46', '0.67', '5.7', '0.71', '2', '4.19', '1.44', '2.1',
       '1.37', '0.51', '1.04', '3.37', '1.87', '0.5', '0.44', '2.33',
       '1.33', '1.61', '1.11', '0.98', '0.57', '2.82', '4.02', '1.24',
       '1.43', '1.49', '1.4', '1.25', '1.93', '2.75', '1.45', '0.77',
       '5.02', '2.55', '4.14', '0.63', '2.96', '5.65', '2.4', '2.7',
       '2.2', '0.93', '4.97', '2.77', '0.27', '0.66', '0.95', '2.08',
       '0.99', '2.94', '0.65', '2.56', '2.04', '0.52', '1.19', '1.18',
       '8.5', '0.84', '3.03', '1.16', '0.37', '0.62', '1.81', '1.62',
       '1.91', '1.3', '0.41', '0.74', '0.56', '2.69', '3.16', '2.79',
       '1.41', '0.9', '1.22', '0.82', '1.34', '0.79', '1.08', '2.45',
       '1.47', '2.18', '2.9', '0.72', '4.52', '2.22', '10.77', '1.09',
       '4.39', '3.99', '4.73', '4.59', '2.61', '1.29', '2.17', '1.21',
       '1.82', '2.68', '2.46', '2.86', '8.02', '0.6', '2.41', '1.92',
       '0.43', '2.15', '3.22', '1.5', '1.48', '0.73', '1.96', '1.27',
       '3.72', '2.67', '1.63', '0.89', '1.71', '1.1', '2.42', '1.02',
       '2.13', '2.07', '1.85', '7', '1.14', '4.7', '1.75', '3.36', '3.77',
       '3.62', '1.51', '1.56', '3.15', '1.59', '1.39', '3.49', '2.59',
       '5.37', '3.07', '4.6', '2.97', '2.74', '1.68', '1.55', '0.81',
       '1.57', '1.69', '1.52', '6.12', '5.54', '5.84', '0.78', '2.39',
       '3.82', '2.28', '2.87', '2.58', '2.83', '0.85', '0.87', '1.35',
       '1.38', '1.7', '1.99', '0.8', '2.78', '2.65', '1.12', '1.26',
       '1.89', '3', '1.46', '1.9', '1.73', '3.02', '2.05', '2.06', '4.74',
       '3.17', '2.5', '4.96', '4.58', '1.83', '3.01', '1.36', '1.67',
       '1.15', '3.2', '0.96', '2.31', '4.26', '6.84', '1.95', '8.87',
       '8.12', '6.38', '3.43', '3.47', '4.08', '3.26', '3.69', '1.13',
       '3.9', '2.44', '2.02', '4.37', '3.7', '4.23', '0.91', '3.64',
       '2.25', '3.31', '1.6', '2.47', '1.64', '1.28', '1.98', '1.03',
       '2.12', '2.91', '2.54', '1.53', '3.34', '4.09', '1.65', '2.24',
       '3.23', '2.62', '2.37', '2.09', '2.14', '1.8', '1.17', '1.72',
       '2.64', '2.76', '2.73', '3.42', '3.39', '2.3', '2.92', '2.71',
       '3.85', '1.76', '2.51', '2.21', '2.6', '3.38', '2.53', '3.35',
       '4.84', '1.74', '9.12', '3.27', '4.79', '2.23', '2.03', '4.47',
       '2.99', '4.03', '2.16', '3.11', '2.98', '3.73', '1.86', '2.93',
       '6', '2.81', '3.12', '5.12', '3.84', '3.91', '9.4', '4.05', '3.24',
       '3.71', '4.95', '2.34', '4.41', '7.18', '5', '3.48', '8.32',
       '3.25', '4.24', '2.89', '4.9', '6.45', '4.25', '2.48', '4.67',
       '5.38', '2.19', '3.98', '3.56', '2.26', '3.88', '3.57', '3.76',
       '6.28', '4.07', '5.49', '9.25', '5.25', '3.95', '2.49', '2.88',
       '3.21', '6.2', '2.52', '3.05', '3.04', '2.35', '2.8', '4.89',
       '2.36', '4.11', '9.97', '3.41', '1.94', '3.06', '4.87', '4.2',
       '3.83', '1.79', '4.98', '2.11', '4.88', '2.57', '3.65', '3.14',
       '6.56', '2.95', '3.75', '2.43', '5.85', '9.8', '3.96', '5.82',
       '10.12', '12.1', '7.25', '3.44', '5.31', '8.14', '4.36', '3.13',
       '2.66', '3.19', '3.52', '6.47', '4.01', '3.55', '5.3', '2.32',
       '3.3', '4.8', '2.72', '3.61', '2.38', '4.15', '5.63', '5.43',
       '3.46', '3.5', '4.44', '3.09', '2.84', '7.66', '4.43', '5.28',
       '5.07', '3.28', '3.81', '6.64', '3.1', '4.62', '3.18', '4.93',
       '7.19', '5.22', '8.26', '4.57', '3.51', '5.1', '3.79', '3.4',
       '4.63', '3.29', '3.66', '4.33', '3.63', '5.88', '2.63', '4.81',
       '9.18', '7.89', '4.92', '3.54', '5.51', '7.26', '3.6', '3.53',
       '3.97', '4', '4.71', '3.87', '3.74', '5.23', '3.32', '5.14',
       '3.93', '4.32', '3.59', '3.8', '4.18', '2.85', '4.12', '9.39',
       '5.48', '5.21', '4.45', '6.89', '4.91', '5.91', '4.94', '4.72',
       '5.27', '6.59', '4.51', '4.54', '3.33', '7.29', '4.13', '4.38',
       '6.49', '4.68', '6.6', '6.43', '4.4', '4.1', '7.65', '5.52',
       '4.34', '6.03', '6.5', '9.54', '6.09', '4.17', '5.24', '6.34'],
      dtype=object)

In [48]:
df["PRCP"] = df["PRCP"].replace("T",0)

In [49]:
df["PRCP"] = pd.to_numeric(df["PRCP"],errors="coerce")

In [50]:
df["PRCP"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 119040 entries, 0 to 119039
Series name: PRCP
Non-Null Count   Dtype
--------------   -----
117108 non-null  float64
dtypes: float64(1)
memory usage: 930.1 KB

In [51]:
int(df["PRCP"].isna().sum())

1932

In [52]:
df["PRCP"].mean()

np.float64(0.1290876797486081)

In [53]:
df["PRCP"].value_counts(dropna=False)

PRCP
0.00    79088
0.01     3389
0.02     2909
0.03     2015
NaN      1932
        ...
3.54        1
6.09        1
4.17        1
5.24        1
6.34        1
Name: count, Length: 540, dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       119040 non-null  int64
 1   Precip    119040 non-null  object
 2   MaxTemp   119040 non-null  float64
 3   MinTemp   119040 non-null  float64
 4   MeanTemp  119040 non-null  float64
 5   Snowfall  119040 non-null  float64
 6   YR        119040 non-null  int64
 7   MO        119040 non-null  int64
 8   DA        119040 non-null  int64
 9   PRCP      117108 non-null  float64
 10  MAX       118566 non-null  float64
 11  MIN       118572 non-null  float64
 12  MEA       118542 non-null  float64
 13  SNF       117877 non-null  object
 14  Day       119040 non-null  int32
 15  Month     119040 non-null  int32
 16  Year      119040 non-null  int32
 17  season    119040 non-null  object
dtypes: float64(8), int32(3), int64(4), object(3)
memory usage: 15.0+ MB

In [55]:
df["PRCP"] = df.groupby(["STA","Month"])["PRCP"].transform(lambda x: x.fillna(x.mean()))

In [56]:
int(df["PRCP"].isna().sum())

276

In [57]:
df["PRCP"] = df.groupby("Month")["PRCP"].transform(lambda x: x.fillna(x.mean()))

In [58]:
int(df["PRCP"].isna().sum())

0

In [59]:
df["PRCP"].value_counts(dropna=False)

PRCP
0.000000    79292
0.010000     3395
0.020000     2909
0.030000     2015
0.040000     1665
            ...
0.113000        1
4.170000        1
5.240000        1
0.029000        1
0.004576        1
Name: count, Length: 705, dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       119040 non-null  int64
 1   Precip    119040 non-null  object
 2   MaxTemp   119040 non-null  float64
 3   MinTemp   119040 non-null  float64
 4   MeanTemp  119040 non-null  float64
 5   Snowfall  119040 non-null  float64
 6   YR        119040 non-null  int64
 7   MO        119040 non-null  int64
 8   DA        119040 non-null  int64
 9   PRCP      119040 non-null  float64
 10  MAX       118566 non-null  float64
 11  MIN       118572 non-null  float64
 12  MEA       118542 non-null  float64
 13  SNF       117877 non-null  object
 14  Day       119040 non-null  int32
 15  Month     119040 non-null  int32
 16  Year      119040 non-null  int32
 17  season    119040 non-null  object
dtypes: float64(8), int32(3), int64(4), object(3)
memory usage: 15.0+ MB

In [61]:
df.dropna(subset=["MEA","SNF"],inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117392 entries, 0 to 119039
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       117392 non-null  int64
 1   Precip    117392 non-null  object
 2   MaxTemp   117392 non-null  float64
 3   MinTemp   117392 non-null  float64
 4   MeanTemp  117392 non-null  float64
 5   Snowfall  117392 non-null  float64
 6   YR        117392 non-null  int64
 7   MO        117392 non-null  int64
 8   DA        117392 non-null  int64
 9   PRCP      117392 non-null  float64
 10  MAX       117392 non-null  float64
 11  MIN       117390 non-null  float64
 12  MEA       117392 non-null  float64
 13  SNF       117392 non-null  object
 14  Day       117392 non-null  int32
 15  Month     117392 non-null  int32
 16  Year      117392 non-null  int32
 17  season    117392 non-null  object
dtypes: float64(8), int32(3), int64(4), object(3)
memory usage: 15.7+ MB

In [63]:
df["SNF"].unique()

array(['0', '0.9', '1.3', '1.2', '0.1', '0.2', '0.4', '0.3', '0.8', '0.6',
       '0.7', '0.5', '1', '1.1', '1.7', '1.5', '1.8', '2.1', '2.3', '2.6',
       '3', '3.2', '2.9', '2.5', '2', '1.9', '2.4', '2.2', '1.4', '3.1',
       '1.6', '3.4', '3.3', '2.7', 'T'], dtype=object)

In [64]:
df["SNF"].value_counts(dropna=False)

SNF
0      115214
0.2       532
0.1       339
0.3       328
0.4       204
0.5        92
0.8        83
0.7        77
0.6        74
0.9        69
1          65
T          44
1.1        40
1.2        31
1.8        25
2          24
1.9        22
1.4        20
1.3        15
2.4        13
2.6        11
1.5        11
1.7        10
2.1        10
2.5         7
2.2         6
1.6         6
2.3         5
3           5
3.2         4
3.1         2
2.9         1
3.4         1
3.3         1
2.7         1
Name: count, dtype: int64

In [65]:
df["SNF"] = df["SNF"].replace("T",0)

In [66]:
df["SNF"] = pd.to_numeric(df["SNF"])

In [67]:
df["SNF"].value_counts()

SNF
0.0    115258
0.2       532
0.1       339
0.3       328
0.4       204
0.5        92
0.8        83
0.7        77
0.6        74
0.9        69
1.0        65
1.1        40
1.2        31
1.8        25
2.0        24
1.9        22
1.4        20
1.3        15
2.4        13
2.6        11
1.5        11
1.7        10
2.1        10
2.5         7
1.6         6
2.2         6
3.0         5
2.3         5
3.2         4
3.1         2
2.9         1
3.4         1
3.3         1
2.7         1
Name: count, dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117392 entries, 0 to 119039
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   STA       117392 non-null  int64
 1   Precip    117392 non-null  object
 2   MaxTemp   117392 non-null  float64
 3   MinTemp   117392 non-null  float64
 4   MeanTemp  117392 non-null  float64
 5   Snowfall  117392 non-null  float64
 6   YR        117392 non-null  int64
 7   MO        117392 non-null  int64
 8   DA        117392 non-null  int64
 9   PRCP      117392 non-null  float64
 10  MAX       117392 non-null  float64
 11  MIN       117390 non-null  float64
 12  MEA       117392 non-null  float64
 13  SNF       117392 non-null  float64
 14  Day       117392 non-null  int32
 15  Month     117392 non-null  int32
 16  Year      117392 non-null  int32
 17  season    117392 non-null  object
dtypes: float64(9), int32(3), int64(4), object(2)
memory usage: 15.7+ MB

In [69]:
df.head()

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,season
0,10001,1.016,25.555556,22.222222,23.888889,0.0,42,7,1,0.04,78.0,72.0,75.0,0.0,1,7,1942,Summer
1,10001,0,28.888889,21.666667,25.555556,0.0,42,7,2,0.00,84.0,71.0,78.0,0.0,2,7,1942,Summer
2,10001,2.54,26.111111,22.222222,24.444444,0.0,42,7,3,0.10,79.0,72.0,76.0,0.0,3,7,1942,Summer
3,10001,2.54,26.666667,22.222222,24.444444,0.0,42,7,4,0.10,80.0,72.0,76.0,0.0,4,7,1942,Summer
4,10001,0,26.666667,21.666667,24.444444,0.0,42,7,5,0.00,80.0,71.0,76.0,0.0,5,7,1942,Summer

In [70]:
df["Precip"].unique()

array(['1.016', '0', '2.54', 'T', '3.556', '0.508', '0.254', '1.778',
       '3.302', '0.762', '5.588', '5.08', '2.032', '25.654', '40.132',
       '19.05', '23.876', '4.064', '12.192', '2.794', '33.274', '19.304',
       '47.752', '6.35', '3.048', '8.382', '10.16', '27.178', '30.48',
       '45.212', '10.668', '15.494', '57.658', '58.166', '11.43',
       '31.242', '17.78', '26.924', '26.67', '6.604', '5.334', '4.826',
       '7.62', '8.636', '7.874', '12.446', '90.932', '13.462', '11.938',
       '5.842', '4.318', '6.096', '9.144', '4.572', '9.906', '9.652',
       '1.524', '13.97', '17.272', '33.528', '1.27', '13.716', '8.128',
       '22.352', '39.116', '36.068', '98.044', '3.81', '14.986', '78.232',
       '146.304', '14.732', '21.844', '120.904', '42.164', '23.368',
       '21.082', '44.958', '2.286', '50.038', '17.526', '51.054', '7.112',
       '25.4', '7.366', '16.256', '46.736', '8.89', '24.638', '11.684',
       '17.018', '144.78', '18.034', '50.8', '106.426', '36.576', '53.34',
       '34.798', '12.954', '26.416', '85.598', '47.498', '12.7', '11.176',
       '59.182', '33.782', '40.894', '28.194', '24.892', '14.478',
       '71.628', '102.108', '31.496', '36.322', '37.846', '35.56',
       '31.75', '49.022', '69.85', '36.83', '19.558', '127.508', '64.77',
       '105.156', '16.002', '75.184', '143.51', '60.96', '68.58', '55.88',
       '23.622', '126.238', '70.358', '6.858', '16.764', '24.13',
       '52.832', '25.146', '74.676', '16.51', '65.024', '51.816',
       '13.208', '30.226', '29.972', '215.9', '21.336', '76.962',
       '29.464', '9.398', '15.748', '45.974', '41.148', '48.514', '33.02',
       '10.414', '18.796', '14.224', '68.326', '80.264', '70.866',
       '35.814', '22.86', '30.988', '20.828', '34.036', '20.066',
       '27.432', '62.23', '37.338', '55.372', '73.66', '18.288',
       '114.808', '56.388', '273.558', '27.686', '111.506', '101.346',
       '120.142', '116.586', '66.294', '32.766', '55.118', '30.734',
       '46.228', '68.072', '62.484', '72.644', '203.708', '15.24',
       '61.214', '48.768', '10.922', '54.61', '81.788', '38.1', '37.592',
       '18.542', '49.784', '32.258', '94.488', '67.818', '41.402',
       '22.606', '43.434', '27.94', '61.468', '25.908', '54.102',
       '52.578', '46.99', '177.8', '28.956', '119.38', '44.45', '85.344',
       '95.758', '91.948', '38.354', '39.624', '80.01', '40.386',
       '35.306', '88.646', '65.786', '136.398', '77.978', '116.84',
       '75.438', '69.596', '42.672', '39.37', '20.574', '39.878',
       '42.926', '38.608', '155.448', '140.716', '148.336', '19.812',
       '60.706', '97.028', '57.912', '72.898', '65.532', '71.882',
       '21.59', '22.098', '34.29', '35.052', '43.18', '50.546', '20.32',
       '70.612', '67.31', '28.448', '32.004', '48.006', '76.2', '37.084',
       '48.26', '43.942', '76.708', '52.07', '52.324', '120.396',
       '80.518', '63.5', '125.984', '116.332', '46.482', '76.454',
       '34.544', '42.418', '29.21', '81.28', '24.384', '58.674',
       '108.204', '173.736', '49.53', '225.298', '206.248', '162.052',
       '87.122', '88.138', '103.632', '82.804', '93.726', '28.702',
       '99.06', '61.976', '51.308', '110.998', '93.98', '107.442',
       '23.114', '92.456', '57.15', '84.074', '40.64', '62.738', '41.656',
       '32.512', '50.292', '26.162', '53.848', '73.914', '64.516',
       '38.862', '84.836', '103.886', '41.91', '56.896', '82.042',
       '66.548', '60.198', '53.086', '54.356', '45.72', '29.718',
       '43.688', '67.056', '70.104', '69.342', '86.868', '86.106',
       '58.42', '74.168', '68.834', '97.79', '44.704', '63.754', '56.134',
       '66.04', '85.852', '64.262', '85.09', '122.936', '44.196',
       '231.648', '83.058', '121.666', '56.642', '51.562', '113.538',
       '75.946', '102.362', '54.864', '78.994', '75.692', '94.742',
       '47.244', '74.422', '152.4', '71.374', '79.248', '130.048',
       '97.536', '99.314', '238.76', '102.87', '82.296', '94.234',
       '125.73', '59.436', '112.014', '182.372', '127', '88.392',
       '211.328', '82.55', '107.696', '73.406', '124.46', '163.83',
       '107.95', '62.992', '118.618', '136.652', '55.626', '101.092',
       '90.424', '57.404', '98.552', '90.678', '95.504', '159.512',
       '103.378', '139.446', '234.95', '133.35', '100.33', '63.246',
       '73.152', '81.534', '157.48', '64.008', '77.47', '77.216', '59.69',
       '71.12', '124.206', '59.944', '104.394', '253.238', '86.614',
       '49.276', '77.724', '123.698', '106.68', '97.282', '45.466',
       '126.492', '53.594', '123.952', '65.278', '92.71', '79.756',
       '166.624', '74.93', '95.25', '61.722', '148.59', '248.92',
       '100.584', '147.828', '257.048', '307.34', '184.15', '87.376',
       '134.874', '206.756', '110.744', '79.502', '67.564', '81.026',
       '89.408', '164.338', '101.854', '90.17', '134.62', '58.928',
       '83.82', '121.92', '69.088', '91.694', '60.452', '105.41',
       '143.002', '137.922', '87.884', '88.9', '112.776', '78.486',
       '72.136', '194.564', '112.522', '134.112', '128.778', '83.312',
       '96.774', '168.656', '78.74', '117.348', '80.772', '125.222',
       '182.626', '132.588', '209.804', '116.078', '89.154', '129.54',
       '96.266', '86.36', '117.602', '83.566', '92.964', '109.982',
       '92.202', '149.352', '66.802', '122.174', '233.172', '200.406',
       '124.968', '89.916', '139.954', '184.404', '91.44', '89.662',
       '100.838', '101.6', '119.634', '98.298', '94.996', '132.842',
       '84.328', '130.556', '99.822', '109.728', '91.186', '96.52',
       '106.172', '72.39', '104.648', '238.506', '139.192', '132.334',
       '113.03', '175.006', '124.714', '150.114', '125.476', '119.888',
       '133.858', '167.386', '114.554', '115.316', '84.582', '185.166',
       '104.902', '111.252', '164.846', '118.872', '167.64', '163.322',
       '111.76', '104.14', '194.31', '140.208', '110.236', '153.162',
       '165.1', '242.316', '154.686', '105.918', '133.096', '161.036'],
      dtype=object)

In [71]:
df["Precip"] = df["Precip"].replace("T",0)

In [72]:
df["Precip"] = pd.to_numeric(df["Precip"])

In [73]:
df["season"].unique()

array(['Summer', 'Autumn', 'Winter', 'Spring'], dtype=object)

In [74]:
df = pd.get_dummies(df , columns=["season"],drop_first=True,prefix="Season")

In [75]:
df.head()

,STA,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Day,Month,Year,Season_Spring,Season_Summer,Season_Winter
0,10001,1.016,25.555556,22.222222,23.888889,0.0,42,7,1,0.04,78.0,72.0,75.0,0.0,1,7,1942,False,True,False
1,10001,0.000,28.888889,21.666667,25.555556,0.0,42,7,2,0.00,84.0,71.0,78.0,0.0,2,7,1942,False,True,False
2,10001,2.540,26.111111,22.222222,24.444444,0.0,42,7,3,0.10,79.0,72.0,76.0,0.0,3,7,1942,False,True,False
3,10001,2.540,26.666667,22.222222,24.444444,0.0,42,7,4,0.10,80.0,72.0,76.0,0.0,4,7,1942,False,True,False
4,10001,0.000,26.666667,21.666667,24.444444,0.0,42,7,5,0.00,80.0,71.0,76.0,0.0,5,7,1942,False,True,False

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117392 entries, 0 to 119039
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   STA            117392 non-null  int64
 1   Precip         117392 non-null  float64
 2   MaxTemp        117392 non-null  float64
 3   MinTemp        117392 non-null  float64
 4   MeanTemp       117392 non-null  float64
 5   Snowfall       117392 non-null  float64
 6   YR             117392 non-null  int64
 7   MO             117392 non-null  int64
 8   DA             117392 non-null  int64
 9   PRCP           117392 non-null  float64
 10  MAX            117392 non-null  float64
 11  MIN            117390 non-null  float64
 12  MEA            117392 non-null  float64
 13  SNF            117392 non-null  float64
 14  Day            117392 non-null  int32
 15  Month          117392 non-null  int32
 16  Year           117392 non-null  int32
 17  Season_Spring  117392 non-null  bool
 18  Season_Summer  117392 non-null  bool
 19  Season_Winter  117392 non-null  bool
dtypes: bool(3), float64(10), int32(3), int64(4)
memory usage: 15.1 MB

In [77]:
df.drop(["MAX","MIN","MEA","MaxTemp","MinTemp"],inplace=True,axis=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117392 entries, 0 to 119039
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   STA            117392 non-null  int64
 1   Precip         117392 non-null  float64
 2   MeanTemp       117392 non-null  float64
 3   Snowfall       117392 non-null  float64
 4   YR             117392 non-null  int64
 5   MO             117392 non-null  int64
 6   DA             117392 non-null  int64
 7   PRCP           117392 non-null  float64
 8   SNF            117392 non-null  float64
 9   Day            117392 non-null  int32
 10  Month          117392 non-null  int32
 11  Year           117392 non-null  int32
 12  Season_Spring  117392 non-null  bool
 13  Season_Summer  117392 non-null  bool
 14  Season_Winter  117392 non-null  bool
dtypes: bool(3), float64(5), int32(3), int64(4)
memory usage: 10.6 MB